.ios, .md {
    
    page-mosque {
    
        .scroll {
           height: 100%
         }
    
         #map {
           width: 100%;
           height: 82%;
           position:fixed;
        }
        .noscroll {
          position: fixed; top: 0px;
        }
    
       }
    
   }